
/* 테이블 스타일 */
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}
table th,
table td {
    padding: 10px;
    text-align: center;
}
table th {
    background-color: #F2F2F2;
    color: #333;
    font-weight: bold;
}
table td {
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
}
table tr:nth-child(even) td {
    background-color: #F9F9F9;
}
table tr:hover td {
    background-color: #EAEAEA;
}
table caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}
/* 폼 스타일 */
form {
    margin-bottom: 20px;
}
input[type="text"],
input[type="submit"],
input[type="hidden"] {
    margin: 5px;
    padding: 5px;
}

/* 테이블 스타일 */
table {
    border-collapse: collapse;
}
table td {
    border: 1px solid rgb(11, 218, 63);
    padding: 8px;
}

.header_container{
    background-color: #0b8163;
    height: 63px;
    text-align: right;


}
.input_container{
    text-align: right;
}
.profile{
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
    font-weight: 600;
    color:#0b8163 ;
}
.table_container{
    width: 1000px;
    margin: auto;
    background-color: #0b8163;
}
.form_box{
    text-align: center;
    margin-top: 15px;

}
.key{
    width: 30%;
}
.body_bg{
    background:#fff;
}
.comment_text{
    color:#0b8163 ;
}
.key_bold{
    height: 30px;
    font-size: 20px;
    color:#0b8163 ;
    font-weight: 600;
    background-color: #dffad3;
}