<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>

        <typeAlias type="com.naver.domain.entitiy.User" alias="User"/>
        <typeAlias type="com.naver.domain.entitiy.Comments" alias="Comments"/>
        <typeAlias type="com.naver.domain.entitiy.Contents" alias="Contents"/>
        <typeAlias type="com.naver.domain.request.FreeComment" alias="FreeComment"/>

    </typeAliases>
</configuration>